<app-toolbar></app-toolbar>
<mat-accordion>
<!--displaying all the shows with the details-->
  <mat-expansion-panel *ngFor="let show of shows">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{show.name}}
      </mat-panel-title>
      <mat-panel-title *ngIf="show.premiered">
        premiered: {{show.premiered}}
      </mat-panel-title>
      <mat-panel-title>
        Status: {{show.status}}
      </mat-panel-title>
    </mat-expansion-panel-header>
      <span class="flex-container">
        <img *ngIf="show.image" src="{{show.image}}" alt="test">
        <span [innerHTML]="show.summary"></span>
        </span>
    <span *ngIf="show.prevEp">previous episode: {{show.prevEp.name}}</span><br>
    <span *ngIf="show.nextEp">next episode: {{show.nextEp.name}}</span>
<!--button to get the seasons of the show-->
    <mat-action-row>
        <button style="margin-top: 5px" mat-flat-button color="warn" routerLink="/seasons/{{show.id}}">Details</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
