
<mat-accordion>
  <mat-expansion-panel *ngFor="let show of shows">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{show.name}}
      </mat-panel-title>
      <mat-panel-title *ngIf="show.premiered">
        premiered: {{show.premiered}}
      </mat-panel-title>
      <mat-panel-title>
        Status: {{show.status}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img *ngIf="show.image" src="{{show.image}}" alt="test">
    <span [innerHTML]="show.summary"></span>
    <button mat-button color="warn" routerLink="/seasons/{{show.id}}">Details</button>
  </mat-expansion-panel>

</mat-accordion>
